# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.jks
android/key.properties
android/app/gear-tracker.keystore

# Assets generované při buildu
assets/icons/
assets/images/

# OS
.DS_Store
Thumbs.db
